<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="item text-center">
                    <h3 class="text-uppercase">location</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item text-center">
                    <h3 class="text-uppercase">around the web</h3>
                    <div class="icon d-flex justify-content-center">
                        <i class="fa-brands fa-facebook circle mx-2"></i>
                        <i class="fa-brands fa-twitter circle mx-2"></i>
                        <i class="fa-brands fa-linkedin circle mx-2"></i>
                        <i class="fa-solid fa-globe icon circle mx-2"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item text-center">
                    <h3 class="text-uppercase">about freelancer</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyRight p-3 text-center">
    <p>Copyright © Your Website 2021</p>
</div>
