<div class="portfolioComponent">
    <div class="container pt-5">
        <h2 class="text-uppercase text-center my-3 fw-bolder">portfolio component</h2>
        <div class="underLine mb-3 d-flex align-items-center justify-content-center">
            <div class="lineDecorat me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="lineDecorat ms-3"></div>
        </div>
    
        <div class="row g-4">
            <div class="col-md-4">
                <figure class="position-relative">
                    <img src="assets/img/poert1.png" class="w-100"  alt="">
                    <div class="layer position-absolute">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="position-relative ">
                    <img src="assets/img/port2.png" class="w-100" alt="">
                    <div class="layer position-absolute">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="position-relative ">
                    <img src="assets/img/port3.png" class="w-100" alt="">
                    <div class="layer position-absolute">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="position-relative ">
                    <img src="assets/img/poert1.png" class="w-100" alt="">
                    <div class="layer position-absolute">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="position-relative ">
                    <img src="assets/img/port2.png" class="w-100" alt="">
                    <div class="layer position-absolute">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="position-relative ">
                    <img src="assets/img/port3.png" class="w-100" alt="">
                    <div class="layer position-absolute">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </figure>
            </div>
        </div>  
        
    </div>
    <div class="parent">
      <div class="fixedBox m-auto">
          <img src="assets/img/port2.png" class="w-100" alt="">
      </div>
    </div>
    
</div>